<main class="show">
  <p><%= link_to "←一覧に戻る", :posts %></p>
  <div class="row">
    <div class="col-6 d-flex justify-content-start">
       <h5><%= @post.title %></h5>
    </div>
    <div class="col-6 d-flex justify-content-end" >
      <p><%= link_to " 編集 ", [:edit, @post], class: "btn btn-outline-primary", style:"color: blue;"%></p>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th>開始日</th>
      <td><%= @post.begin %></td>
    </tr>
    <tr>
      <th>終了日</th>
      <td><%= @post.end %></td>
    </tr>
    <tr>
      <th>終日</th>
      <td><%= @post.allday %></td>
    </tr>
    <tr>
      <th>スケジュールメモ</th>
      <td><%= @post.schedule_memo %></td>
    </tr>
  </table>
</main>

